.backBoard{
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(187, 187, 187, 0.3); */
}
.navBar{
    width: 60%;
    height: 5%;
    background-color: #99cccc;
    border: 1px solid #000;
    border-bottom: 0px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navTitle{
    margin-left: 20px;
}
.navTitle span{
    font-weight: 700;
}
.controllBox{
    margin-right: 20px;
}
.contentBox{
    width: 60%;
    height: 70%;
    border: 1px solid #000;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    flex-direction: row;
}
.listBox{
    width: 25%;
    height: 100%;
    border-right: 1px solid #000;
    display: flex;
    flex-direction: column;
}
.docBox{
    width: 75%;
    display: flex;
    flex-direction: column;
}
.docList{
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.docUpload{
    width: 10%;
    display: flex;
}
.uploadBox{
    
}